<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Hello Express.js</h1>
    <h2>會員系統</h2>
    <form action="/square">
        <input type="text" name="num"/>
        <button>計算</button>
        <div>Result is<%= ans%></div>
    </form>
</body>
</html>